<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<style>
    body{
        font-family: "Inter", sans-serif;
    }
</style>

</head>




<body class="bg-gray-50 p-6">


    <div>
        {% if messages %}
        {% for message in messages %}
        
        <div class="px-2 py-1 {% if message.tags == 'success' %}bg-red-500{% endif %}">{{message}}</div>
    
        {% endfor %}
        {% endif %}
    </div>



<div class="max-w-[1400px] mx-auto">
    <header class="flex justify-between items-center mb-8">
        <h1 class="text-2xl font-semibold">Dashboard</h1>

        <div class="flex items-center gap-4">
            <button class="p-2 rounded-full hover:bg-gray-100 relative">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" 
                    d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 
                    6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 
                    0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                  </svg>
                  </button>

            <button class="w-10 h-10 bg-blue-500 rounded-full text-white font-semibold">
                M
            </button>
        </div>
    </header>
</div>

<main>
    <div class="max-w-[1400px] mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6 mb-8">


        <a href="{% url 'dashboard' %}?type=total_participants">
        <div class="bg-white rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-500 mb-4">TOTAL PARTICIPANTS</h3>

           <div class="flex justify-between items-start">

            <div>
                <p class="text-3xl font-semibold mb-1">{{unique_participant_count.total}}</p>
                {% comment %} <p class="text-sm text-gray-500">11 last month</p> {% endcomment %}
            </div>

            <div class="bg-blue-100 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" 
                stroke="currentColor" class="w-6 h-6 text-blue-600">
                <path stroke-linecap="round" stroke-linejoin="round" 
                d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 
                1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 
                1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 
                4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
              </svg>
              </div>

           </div>

        </div>
    </a>




        <a href="{% url 'dashboard' %}?type=all">
        <div class="bg-white rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-500 mb-4">TOTAL EVENT</h3>

           <div class="flex justify-between items-start">

            <div>
                <p class="text-3xl font-semibold mb-1">{{counts.total}}</p>
                {% comment %} <p class="text-sm text-gray-500">11 last month</p> {% endcomment %}
            </div>

            <div class="bg-blue-100 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" 
                stroke="currentColor" class="w-6 h-6 text-blue-600">
                <path stroke-linecap="round" stroke-linejoin="round" 
                d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 
                1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 
                1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 
                4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
              </svg>
              </div>

           </div>

        </div>
    </a>


    <a href="{% url 'dashboard' %}?type=past_events">
        <div class="bg-white rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-500 mb-4">PAST EVENT</h3>

           <div class="flex justify-between items-start">

            <div>
                <p class="text-3xl font-semibold mb-1">{{counts.past_events}}</p>
                {% comment %} <p class="text-sm text-gray-500">11 last month</p> {% endcomment %}
            </div>

            <div class="bg-green-100 rounded-full p-3">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-green-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              
              </div>

           </div>

        </div>
    </a>



    <a href="{% url 'dashboard' %}?type=future_events">
        <div class="bg-white rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-500 mb-4">FUTURE EVENT</h3>

           <div class="flex justify-between items-start">

            <div>
                <p class="text-3xl font-semibold mb-1">{{counts.future_events}}</p>
                {% comment %} <p class="text-sm text-gray-500">11 last month</p> {% endcomment %}
            </div>

            <div class="bg-yellow-100 rounded-full p-3">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-yellow-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              
              </div>

           </div>

        </div>
    </a>



    <a href="{% url 'dashboard' %}?type=today_event">
        <div class="bg-white rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-500 mb-4">TODAY'S EVENT</h3>

           <div class="flex justify-between items-start">

            <div>
                <p class="text-3xl font-semibold mb-1">{{counts.today_event}}</p>
                {% comment %} <p class="text-sm text-gray-500">11 last month</p> {% endcomment %}
            </div>

            <div class="bg-purple-100 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" 
                stroke="currentColor" class="w-6 h-6 text-purple-600">
                <path stroke-linecap="round" stroke-linejoin="round" 
                d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 
                1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 
                1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 
                4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
              </svg>
              </div>

           </div>

        </div>
    </a>



    </div>





    {% if type != 'total_participants' %}
<div class="max-w-[1400px] mx-auto mb-8">
    <div class="bg-white rounded-xl p-6 shadow-sm">
        <p class="text-2xl font-semibold mb-4">
            {% if type == 'past_events' %} Past Events
            {% elif type == 'future_events' %} Future Events
            {% elif type == 'today_event' %} Today's Events
            {% else %} All Events
            {% endif %}
        </p>

        <div class="grid grid-cols-8 text-medium font-semibold text-gray-500 mb-4 gap-4">
            <div>EVENT TITLE</div>
            <div>CATEGORY</div>
            <div>MEMBERS</div>
            <div>DATE</div>
            <div>TIME</div>
            <div>LOCATION</div>
        </div>

        {% for event in events %}
        <div class="grid grid-cols-8 items-center mb-4 gap-4">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                <div><span>{{ event.name }}</span></div>
            </div>
            <div><span class="px-3 py-1 rounded-sm bg-blue-50 text-blue-600 text-sm">{{ event.category }}</span></div>
            <div class="flex -space-x-3">
                {% for members in event.guests.all %}
                <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">{{ members.name|slice:":2" }}</div>
                {% endfor %}
            </div>
            <div><span class="text-gray-500 text-sm">{{ event.date }}</span></div>
            <div><span class="text-gray-500 text-sm">{{ event.time }}</span></div>
            <div><span class="text-gray-500 text-sm">{{ event.location }}</span></div>
            <div><a href="{% url 'update-event' event.id %}" class="px-2 py-1 bg-green-600 text-white rounded">Edit</a></div>
            <div>
                <form action="{% url 'delete-event' event.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="px-2 py-1 bg-rose-600 text-white rounded">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}



{% if type == 'total_participants' %}
<div class="max-w-[1400px] mx-auto mb-8">
    <div class="bg-white rounded-xl p-6 shadow-sm">
        <p class="text-2xl font-semibold mb-4">Participant Information</p>

        <div class="grid grid-cols-2 text-medium font-semibold text-gray-500 mb-4 gap-4">
            <div>Name</div>
            <div>Email</div>
        </div>

        {% for participant in participants %}
        <div class="grid grid-cols-2 items-center mb-4 gap-4">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                <div><span>{{ participant.name }}</span></div>
            </div>
            <div><span class="text-gray-500 text-sm">{{ participant.email }}</span></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

</main>

</body>
</html>