{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

    {% comment %} <p class="lal-bg">Test</p>
    <img src="{% static "images/Plantation.jpeg" %}" alt=""> {% endcomment %}
    {% comment %} {{name}}
    {% endcomment %}


    {% for name in names %}
    {% if not name == "D" %}
    <p>{{name}}</p>
    {% endif %}
    {% endfor %}
    {{count}}
    <p class="lal-bg">{{age}}</p>


</body>
</html>